.modal{
    background-color: #161313cc;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.modal.show{
    display: flex;
}
.card{
    background-color: var(--darkgray);
    display: flex;
    /* max-width: 1200px;
    max-height: 1000px; */
    width: 70vw;
    height: 90vh;
}
.card .mostrar-imagem{
    width: 80%;
    background: var(--darkgray);
}
.card .mostrar-imagem .imgmodal{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.card .desc-imagem{
    width: 700px;
}
.card .desc-imagem .desc{
    margin: 30px 15px 0 15px;
    color: var(--lightgray);
    line-height: 20px;
}
.card .desc-imagem .desc .tituloarte{
    color: var(--lightgray);
    font-size: 25px;
    font-weight: 700;
}
.card .desc-imagem .desc .textdesc{
    margin: 60px 0 0 0;
    text-decoration: none;
    font-size: 13px;
}
.card .desc-imagem .btnfecharcontainer{
    width: 30px;
}
.card .desc-imagem .btnfecharcontainer .btnfechar{
    color: var(--lightgray);
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    top: 25px;
    right: 52px;
    
    
}
.card .florvermelhamodal{
width: 30px;
height: 30px;
margin: 21px 0 0 0;
}